**<hr><h>Capstone Project: Battle of Texas city living for young adults<h><hr>**

**Project Objective:**

The Objective of this project is to determine the best city that provides conveniences for young adults in Texas. The major cities being considered are Austin, Dallas, Houston and San Antonio. The  criteria to be considered are venues for restaurants, activities like yoga, parks accessibility for biking.  |

**Methodology:**

The data to be used is the coordinates from the center of downtown and the venues to be considered are data from Foursquare. A 3.1 mile (5Km) radius from the center of downtown will be considered for the analysis. The clusters will look at type, location ratings and accessibility of these conveniences being considered for young adults.
A report will analyze using metrics and plots to compare and discuss pro and cons of these four cities being considered.

**Input Coordinates table of TX cities into Pandas**

In [1]:
import pandas as pd
df = pd.read_csv("TXcities.csv")
df.head()

                TX_City   Latitude  Longitude
0                Austin  30.267153 -97.743057
1      Downtown Houston  29.751869 -95.327438
2       Downtown Dallas  32.776665 -96.796989
3  Downtown San Antonio  29.424122 -98.493629

**Setup Libraries for Data Analysis and Visualization**

In [2]:
! pip install --upgrade pip
! pip install beautifulsoup4
import pandas as pd
import requests
from bs4 import BeautifulSoup
import urllib.request
import numpy as np # library to handle data in a vectorized manner

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
!conda update -n base -c defaults conda --yes
import folium # map rendering library

print('Libraries imported.')

Collecting pip
  Downloading https://files.pythonhosted.org/packages/00/b6/9cfa56b4081ad13874b0c6f96af8ce16cfbc1cb06bedf8e9164ce5551ec1/pip-19.3.1-py2.py3-none-any.whl (1.4MB)
     |████████████████████████████████| 1.4MB 30.7MB/s eta 0:00:01
Installing collected packages: pip
  Found existing installation: pip 19.1.1
    Uninstalling pip-19.1.1:
      Successfully uninstalled pip-19.1.1
Successfully installed pip-19.3.1
Collecting beautifulsoup4
  Downloading https://files.pythonhosted.org/packages/3b/c8/a55eb6ea11cd7e5ac4bacdf92bac4693b90d3ba79268be16527555e186f0/beautifulsoup4-4.8.1-py3-none-any.whl (101kB)
     |████████████████████████████████| 102kB 17.4MB/s ta 0:00:01
Collecting soupsieve>=1.2
  Downloading https://files.pythonhosted.org/packages/5d/42/d821581cf568e9b7dfc5b415aa61952b0f5e3dede4f3cbd650e3a1082992/soupsieve-1.9.4-py2.py3-none-any.whl
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.8.1 soupsieve-1.9.4
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.12

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    geopy-1.20.0               |             py_0          57 KB  conda-forge
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    ------------------------------------------------------------
                                           Total:          91 KB

The following NEW packages will be INSTALLED:

    geographiclib: 1.50-py_0   conda-forge
    geopy:         1.20.0-py_0 conda-forge


Downloading and Extracting Packages
geopy-1.20.0         | 57 KB     | ##################################### | 100%
geographiclib-1.50   | 34 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.12

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda

  added / updated specs:
    - conda


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    asn1crypto-1.2.0           |           py37_0         162 KB
    chardet-3.0.4              |        py37_1003         173 KB
    certifi-2019.9.11          |           py37_0         154 KB
    python-3.7.4               |       h265db76_1        36.5 MB
    pysocks-1.7.1              |           py37_0          30 KB
    setuptools-41.4.0          |           py37_0         651 KB
    pip-19.3.1                 |           py37_0         1.9 MB
    ncurses-6.1                |       he6710b0_1         958 KB
    conda-4.7.12               |           py37_0         3.0 MB
    pycparser-2.19             |           py37_0         172 KB
    wheel-0.33.6               |           py37_0          40 KB
    cryptography-2.8           |   py37h1ba5d50_0         612 KB
    pyopenssl-19.0.0           |           py37_0          82 KB
    conda-package-handling-1.6.0|   py37h7b6447c_0         872 KB
    idna-2.8                   |           py37_0         101 KB
    tqdm-4.36.1                |             py_0          50 KB
    ca-certificates-2019.10.16 |                0         131 KB
    zlib-1.2.11                |       h7b6447c_3         120 KB
    libedit-3.1.20181209       |       hc058e9b_0         188 KB
    sqlite-3.30.1              |       h7b6447c_0         1.9 MB
    openssl-1.1.1d             |       h7b6447c_3         3.7 MB
    urllib3-1.24.2             |           py37_0         153 KB
    six-1.12.0                 |           py37_0          22 KB
    cffi-1.13.0                |   py37h2e261b9_0         224 KB
    requests-2.22.0            |           py37_0          89 KB
    ------------------------------------------------------------
                                           Total:        51.9 MB

The following NEW packages will be INSTALLED:

    _libgcc_mutex:          0.1-main
    conda-package-handling: 1.6.0-py37h7b6447c_0

The following packages will be UPDATED:

    asn1crypto:             0.24.0-py37_0           --> 1.2.0-py37_0
    ca-certificates:        2018.03.07-0            --> 2019.10.16-0
    certifi:                2018.8.24-py37_1        --> 2019.9.11-py37_0
    cffi:                   1.11.5-py37he75722e_1   --> 1.13.0-py37h2e261b9_0
    chardet:                3.0.4-py37_1            --> 3.0.4-py37_1003
    conda:                  4.5.11-py37_0           --> 4.7.12-py37_0
    cryptography:           2.3.1-py37hc365091_0    --> 2.8-py37h1ba5d50_0
    idna:                   2.7-py37_0              --> 2.8-py37_0
    libedit:                3.1.20170329-h6b74fdf_2 --> 3.1.20181209-hc058e9b_0
    libgcc-ng:              8.2.0-hdf63c60_1        --> 9.1.0-hdf63c60_0
    ncurses:                6.1-hf484d3e_0          --> 6.1-he6710b0_1
    openssl:                1.0.2p-h14c3975_0       --> 1.1.1d-h7b6447c_3
    pip:                    10.0.1-py37_0           --> 19.3.1-py37_0
    pycparser:              2.18-py37_1             --> 2.19-py37_0
    pyopenssl:              18.0.0-py37_0           --> 19.0.0-py37_0
    pysocks:                1.6.8-py37_0            --> 1.7.1-py37_0
    python:                 3.7.0-hc3d631a_0        --> 3.7.4-h265db76_1
    requests:               2.19.1-py37_0           --> 2.22.0-py37_0
    setuptools:             40.2.0-py37_0           --> 41.4.0-py37_0
    six:                    1.11.0-py37_1           --> 1.12.0-py37_0
    sqlite:                 3.24.0-h84994c4_0       --> 3.30.1-h7b6447c_0
    tqdm:                   4.26.0-py37h28b3542_0   --> 4.36.1-py_0
    urllib3:                1.23-py37_0             --> 1.24.2-py37_0
    wheel:                  0.31.1-py37_0           --> 0.33.6-py37_0
    zlib:                   1.2.11-ha838bed_2       --> 1.2.11-h7b6447c_3


Downloading and Extracting Packages
asn1crypto-1.2.0     | 162 KB    | ##################################### | 100%
chardet-3.0.4        | 173 KB    | ##################################### | 100%
certifi-2019.9.11    | 154 KB    | ##################################### | 100%
python-3.7.4         | 36.5 MB   | ##################################### | 100%
pysocks-1.7.1        | 30 KB     | ##################################### | 100%
setuptools-41.4.0    | 651 KB    | ##################################### | 100%
pip-19.3.1           | 1.9 MB    | ##################################### | 100%
ncurses-6.1          | 958 KB    | ##################################### | 100%
conda-4.7.12         | 3.0 MB    | ##################################### | 100%
pycparser-2.19       | 172 KB    | ##################################### | 100%
wheel-0.33.6         | 40 KB     | ##################################### | 100%
cryptography-2.8     | 612 KB    | ##################################### | 100%
pyopenssl-19.0.0     | 82 KB     | ##################################### | 100%
conda-package-handli | 872 KB    | ##################################### | 100%
idna-2.8             | 101 KB    | ##################################### | 100%
tqdm-4.36.1          | 50 KB     | ##################################### | 100%
ca-certificates-2019 | 131 KB    | ##################################### | 100%
zlib-1.2.11          | 120 KB    | ##################################### | 100%
libedit-3.1.20181209 | 188 KB    | ##################################### | 100%
sqlite-3.30.1        | 1.9 MB    | ##################################### | 100%
openssl-1.1.1d       | 3.7 MB    | ##################################### | 100%
urllib3-1.24.2       | 153 KB    | ##################################### | 100%
six-1.12.0           | 22 KB     | ##################################### | 100%
cffi-1.13.0          | 224 KB    | ##################################### | 100%
requests-2.22.0      | 89 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Libraries imported.

**Import Foursquare Credentials**

In [3]:
CLIENT_ID = '55ELXDS21BUOO4A2LBRM4T35UEOVCOFUYKG0KXTIPUI5OIWU' # your Foursquare ID
CLIENT_SECRET = 'KQO5CBRZRY1IDSUGQZOAPU0RR5QDG5A55DZAW4FOMSTPARLJ' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 30
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: 55ELXDS21BUOO4A2LBRM4T35UEOVCOFUYKG0KXTIPUI5OIWU
CLIENT_SECRET:KQO5CBRZRY1IDSUGQZOAPU0RR5QDG5A55DZAW4FOMSTPARLJ

In [5]:
address = 'Austin, TX'

geolocator = Nominatim(user_agent="tx_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Austin, TX are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Austin, TX are 30.2711286, -97.7436995.

**Create map of four TX cities for analysis**

In [6]:
# create map of Tx Cities using latitude and longitude values
map_tx = folium.Map(location=[latitude, longitude], zoom_start=6.49)

# add markers to map
for lat, lng, TX_city in zip(df['Latitude'], df['Longitude'],  df['TX_City']):
   #label = '{}, {}'.format(Neighborhood, borough)
   # label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=3,
        #popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_tx)  
    
map_tx

In [7]:
neighborhood_latitude = df.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = df.loc[0, 'Longitude'] # neighborhood longitude value

neighborhood_name = df.loc[0, 'TX_City'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                              neighborhood_longitude))

Latitude and longitude values of Austin are 30.267153000000004, -97.743057.

**Create URL of venues within 3.1 Miles of Austin center**

In [8]:
#Double-click __here__ for the solution.
#<!-- The correct answer is:
LIMIT = 200 # limit of number of venues returned by Foursquare API
#-->

#<!--
radius = 5000 # define radius
#-->

#<!--
#\\ # create URL
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
url # display URL
#-->

'https://api.foursquare.com/v2/venues/explore?&client_id=55ELXDS21BUOO4A2LBRM4T35UEOVCOFUYKG0KXTIPUI5OIWU&client_secret=KQO5CBRZRY1IDSUGQZOAPU0RR5QDG5A55DZAW4FOMSTPARLJ&v=20180604&ll=30.267153000000004,-97.743057&radius=5000&limit=200'

In [9]:
def getNearbyVenues(names, latitudes, longitudes, radius=5000):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [13]:
nbh_venues = getNearbyVenues(names=df['TX_City'],
                                   latitudes=df['Latitude'],
                                   longitudes=df['Longitude']
                                  )

Austin
Downtown Houston
Downtown Dallas
Downtown San Antonio

In [14]:
print(nbh_venues.shape)
nbh_venues.head()

(400, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Austin,30.267153,-97.743057,JuiceLand,30.266037,-97.742623,Juice Bar
1,Austin,30.267153,-97.743057,The Roosevelt Room,30.267842,-97.746242,Bar
2,Austin,30.267153,-97.743057,Houndstooth Coffee,30.266194,-97.743025,Coffee Shop
3,Austin,30.267153,-97.743057,Eddie V's Prime Seafood,30.266339,-97.740504,Seafood Restaurant
4,Austin,30.267153,-97.743057,Alamo Drafthouse Cinema,30.267460,-97.739550,Movie Theater

In [15]:
nbh_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
Austin,100,100,100,100,100,100
Downtown Dallas,100,100,100,100,100,100
Downtown Houston,100,100,100,100,100,100
Downtown San Antonio,100,100,100,100,100,100

In [16]:
print('There are {} uniques categories.'.format(len(nbh_venues['Venue Category'].unique())))

There are 124 uniques categories.

In [19]:
# one hot encoding
nbh_onehot = pd.get_dummies(nbh_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
nbh_onehot['Neighborhood'] = nbh_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [nbh_onehot.columns[-1]] + list(nbh_onehot.columns[:-1])
nbh_onehot = nbh_onehot[fixed_columns]

nbh_onehot.head()

,Neighborhood,American Restaurant,Art Gallery,Art Museum,Arts & Crafts Store,Asian Restaurant,BBQ Joint,Bakery,Bar,Baseball Stadium,Basketball Stadium,Beer Bar,Beer Garden,Beer Store,Belgian Restaurant,Bistro,Bookstore,Boutique,Brazilian Restaurant,Breakfast Spot,Brewery,Bridge,Burger Joint,Café,Cajun / Creole Restaurant,Capitol Building,Church,Clothing Store,Cocktail Bar,Coffee Shop,Comedy Club,Comic Shop,Concert Hall,Convenience Store,Cosmetics Shop,Dance Studio,Deli / Bodega,Dessert Shop,Diner,Dive Bar,Dog Run,Farmers Market,Field,Flea Market,Food Court,Food Truck,French Restaurant,Fried Chicken Joint,Gaming Cafe,Garden Center,Gas Station,Gastropub,General College & University,German Restaurant,Grocery Store,Gym,Gym / Fitness Center,Hawaiian Restaurant,Historic Site,History Museum,Hostel,Hotel,Hotel Bar,Ice Cream Shop,Indian Restaurant,Indie Movie Theater,Italian Restaurant,Japanese Restaurant,Juice Bar,Lake,Lounge,Market,Mattress Store,Mediterranean Restaurant,Men's Store,Mexican Restaurant,Modern European Restaurant,Movie Theater,Museum,Music Store,Music Venue,New American Restaurant,Nightclub,Non-Profit,Noodle House,Opera House,Park,Pedestrian Plaza,Performing Arts Venue,Pet Store,Piano Bar,Pizza Place,Plaza,Pool,Pub,Ramen Restaurant,Record Shop,Resort,Restaurant,Rock Club,Salad Place,Sandwich Place,Scenic Lookout,Science Museum,Seafood Restaurant,Snack Place,Soccer Stadium,South American Restaurant,Southern / Soul Food Restaurant,Spa,Speakeasy,Sporting Goods Shop,Sports Bar,Steakhouse,Sushi Restaurant,Taco Place,Tea Room,Thai Restaurant,Theater,Theme Restaurant,Trail,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Wine Bar,Yoga Studio
0,Austin,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Austin,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Austin,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Austin,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Austin,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [20]:
nbh_grouped = nbh_onehot.groupby('Neighborhood').mean().reset_index()
nbh_grouped.shape

(4, 125)

**Top 20 Venues by City (Neighborhood)**

In [52]:
num_top_venues = 20
for hood in nbh_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = nbh_grouped[nbh_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Austin----
                    venue  freq
0                   Hotel  0.06
1              Food Truck  0.05
2             Coffee Shop  0.05
3             Yoga Studio  0.04
4            Cocktail Bar  0.03
5      Seafood Restaurant  0.03
6              Restaurant  0.03
7           Grocery Store  0.03
8          Ice Cream Shop  0.03
9                     Bar  0.03
10    American Restaurant  0.02
11                    Gym  0.02
12               Dive Bar  0.02
13         Cosmetics Shop  0.02
14    Sporting Goods Shop  0.02
15  Performing Arts Venue  0.02
16             Taco Place  0.02
17     Italian Restaurant  0.02
18              BBQ Joint  0.02
19           Burger Joint  0.02


----Downtown Dallas----
                              venue  freq
0                        Steakhouse  0.07
1                       Coffee Shop  0.07
2                             Hotel  0.06
3                               Bar  0.05
4               American Restaurant  0.04
5               Japanese Restaurant  0.03
6                      Cocktail Bar  0.03
7                              Park  0.03
8                       Pizza Place  0.03
9                      Burger Joint  0.03
10                       Sports Bar  0.02
11          New American Restaurant  0.02
12  Southern / Soul Food Restaurant  0.02
13                           Bakery  0.02
14            Performing Arts Venue  0.02
15                    Movie Theater  0.02
16               Mexican Restaurant  0.02
17                          Brewery  0.02
18                       Art Museum  0.02
19                         Dive Bar  0.02


----Downtown Houston----
                      venue  freq
0                       Bar  0.10
1        Mexican Restaurant  0.09
2                     Hotel  0.06
3               Music Venue  0.04
4               Beer Garden  0.04
5          Baseball Stadium  0.03
6        Italian Restaurant  0.03
7                   Brewery  0.03
8   New American Restaurant  0.03
9     Vietnamese Restaurant  0.03
10                  Theater  0.02
11             Cocktail Bar  0.02
12               Steakhouse  0.02
13                     Café  0.02
14              Pizza Place  0.02
15              Coffee Shop  0.02
16                 Dive Bar  0.02
17          Thai Restaurant  0.02
18           Soccer Stadium  0.02
19                     Park  0.02


----Downtown San Antonio----
                      venue  freq
0                     Hotel  0.18
1       American Restaurant  0.05
2        Mexican Restaurant  0.04
3                   Theater  0.04
4                     Plaza  0.04
5              Cocktail Bar  0.04
6                Steakhouse  0.03
7            Sandwich Place  0.03
8             Historic Site  0.02
9            History Museum  0.02
10                   Lounge  0.02
11                     Park  0.02
12                   Museum  0.02
13  New American Restaurant  0.02
14               Restaurant  0.02
15       Seafood Restaurant  0.02
16             Concert Hall  0.02
17           Ice Cream Shop  0.02
18              Beer Garden  0.02
19              Music Store  0.01

In [22]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [23]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = nbh_grouped['Neighborhood']

for ind in np.arange(nbh_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(nbh_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Austin,Hotel,Food Truck,Coffee Shop,Yoga Studio,Ice Cream Shop,Seafood Restaurant,Cocktail Bar,Bar,Restaurant,Grocery Store
1,Downtown Dallas,Steakhouse,Coffee Shop,Hotel,Bar,American Restaurant,Park,Japanese Restaurant,Pizza Place,Burger Joint,Cocktail Bar
2,Downtown Houston,Bar,Mexican Restaurant,Hotel,Music Venue,Beer Garden,Brewery,Vietnamese Restaurant,New American Restaurant,Italian Restaurant,Baseball Stadium
3,Downtown San Antonio,Hotel,American Restaurant,Plaza,Theater,Mexican Restaurant,Cocktail Bar,Sandwich Place,Steakhouse,Lounge,Park

In [38]:
# set number of clusters
kclusters = 4

nbh_grouped_clustering = nbh_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(nbh_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10] 
neighborhoods_venues_sorted.head()

,Cluster Labels,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,0,Austin,Hotel,Food Truck,Coffee Shop,Yoga Studio,Ice Cream Shop,Seafood Restaurant,Cocktail Bar,Bar,Restaurant,Grocery Store
1,3,Downtown Dallas,Steakhouse,Coffee Shop,Hotel,Bar,American Restaurant,Park,Japanese Restaurant,Pizza Place,Burger Joint,Cocktail Bar
2,2,Downtown Houston,Bar,Mexican Restaurant,Hotel,Music Venue,Beer Garden,Brewery,Vietnamese Restaurant,New American Restaurant,Italian Restaurant,Baseball Stadium
3,1,Downtown San Antonio,Hotel,American Restaurant,Plaza,Theater,Mexican Restaurant,Cocktail Bar,Sandwich Place,Steakhouse,Lounge,Park

In [55]:
 #add clustering labels
#neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)
#del df_nbh['Postal Code']
df=df.rename(columns = {'TX_City':'Neighborhood'})
nbh_merger = df
from sklearn.cluster import KMeans

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
nbh_merger = nbh_merger.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')
indexNames = nbh_merger[nbh_merger['Cluster Labels'] == "NaN "].index #look through column to NaN
#nbh_merger=nbh_merger.dropna()
nbh_merger['Cluster Labels'] = nbh_merger['Cluster Labels'].astype(int)
nbh_merger.head(20
            ) # check the last columns!

,Neighborhood,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Austin,30.267153,-97.743057,0,Hotel,Food Truck,Coffee Shop,Yoga Studio,Ice Cream Shop,Seafood Restaurant,Cocktail Bar,Bar,Restaurant,Grocery Store
1,Downtown Houston,29.751869,-95.327438,2,Bar,Mexican Restaurant,Hotel,Music Venue,Beer Garden,Brewery,Vietnamese Restaurant,New American Restaurant,Italian Restaurant,Baseball Stadium
2,Downtown Dallas,32.776665,-96.796989,3,Steakhouse,Coffee Shop,Hotel,Bar,American Restaurant,Park,Japanese Restaurant,Pizza Place,Burger Joint,Cocktail Bar
3,Downtown San Antonio,29.424122,-98.493629,1,Hotel,American Restaurant,Plaza,Theater,Mexican Restaurant,Cocktail Bar,Sandwich Place,Steakhouse,Lounge,Park

In [54]:
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=6.49)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(nbh_merger['Latitude'], nbh_merger['Longitude'], nbh_merger['Neighborhood'], nbh_merger['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=.2,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

**Exploring Austin Top 10**

In [70]:
nbh_merger.loc[nbh_merger['Cluster Labels'] == 0, nbh_merger.columns[[0] + list(range(3, nbh_merger.shape[1]))]]

,Neighborhood,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Austin,0,Hotel,Food Truck,Coffee Shop,Yoga Studio,Ice Cream Shop,Seafood Restaurant,Cocktail Bar,Bar,Restaurant,Grocery Store

**Exploring Downtown Dallas Top 10**

In [71]:
nbh_merger.loc[nbh_merger['Cluster Labels'] == 3, nbh_merger.columns[[0] + list(range(3, nbh_merger.shape[1]))]]

,Neighborhood,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
2,Downtown Dallas,3,Steakhouse,Coffee Shop,Hotel,Bar,American Restaurant,Park,Japanese Restaurant,Pizza Place,Burger Joint,Cocktail Bar

**Exploring Downtown Houston Top 10**

In [74]:
nbh_merger.loc[nbh_merger['Cluster Labels'] == 2, nbh_merger.columns[[0] + list(range(3, nbh_merger.shape[1]))]]

,Neighborhood,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
1,Downtown Houston,2,Bar,Mexican Restaurant,Hotel,Music Venue,Beer Garden,Brewery,Vietnamese Restaurant,New American Restaurant,Italian Restaurant,Baseball Stadium